<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd"
	default-lazy-init="false">
	
    <!-- zookeeper   -->
    <bean id="zookeeper" class="com.qijiabin.demo.zookeeper.support.ZookeeperFactory" destroy-method="close">
		<property name="zkHosts" value="192.168.1.66:2181" />
		<property name="namespace" value="com.qijiabin.hello" />
		<property name="connectionTimeout" value="3000" />
		<property name="sessionTimeout" value="3000" />
		<property name="singleton" value="true" />
	</bean>
	
	<!-- addressProvider -->
	<bean id="addressProvider" class="com.qijiabin.demo.zookeeper.support.ZookeeperAddressProvider">
     	<property name="service" value="com.qijiabin.thrift.rpc.demo.HelloWorldService"/>
     	<property name="version" value="1.0.0" />
     	<property name="zkClient" ref="zookeeper" />
    </bean>
    
	<!-- client Proxy -->
    <bean id="helloSerivce2" class="com.qijiabin.demo.thrift.ThriftServiceClientProxyFactory" destroy-method="close">
        <property name="maxActive" value="20"/>
        <property name="maxIdle" value="1"/>
        <property name="minIdle" value="0"/>
        <property name="idleTime" value="1800000" />
        <property name="maxWaitMillis" value="-1"/>
        <property name="serverAddressProvider" ref="addressProvider"/>
    </bean>
    
</beans>